button.btn.align-items-center(type='button'
                              aria-expanded='false'
                              data={ action: 'theme#switchTheme' }
                              )
  i.bi(class=theme_icon data={ 'theme-target': 'switchBsThemeIcon' })
